html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-size: cover;
}

.app,
#app {
    width: 100vw;
    height: 100vh;
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
}

button.jspsych-btn.disabled {
    cursor: not-allowed;
    background-color: rgb(202, 202, 202);
    color: white
}